---
import Layout from '../layouts/Layout.astro';
import MovieList from "../components/MovieList.tsx";
import Plus from "@assets/icons/plus.svg";

const movie_list = [
    {
        title: "Arrival",
        summary: "Muy buena película.",
        user: "Vicente"
    },{
        title: "Spaceman",
        summary: "Película no mala de Adam Sandler.",
        user: "Vicente"
    }
]
---

<Layout>
	<h1>Películas por ver:</h1>
	<MovieList client:load>
        <Plus/>
    </MovieList>
</Layout>

<script>
</script>