---
import Layout from '../layouts/Layout.astro';
import MovieListItem from '@components/MovieListItem.astro';

const movie_list = [
    {
        title: "Arrival",
        summary: "Muy buena película.",
        user: "Vicente"
    },{
        title: "Spaceman",
        summary: "Película no mala de Adam Sandler.",
        user: "Vicente"
    }
]
---

<Layout>
	<h1>Películas por ver:</h1>
	<ul class="px-4 flex flex-col gap-4">
        {movie_list.map((movie) => (
		    <MovieListItem title={movie.title}
                           summary={movie.summary}
                           user={movie.user}
            />
        ))}
	</ul>
</Layout>
